



body{
  background-color: gray;
  margin-top: 200px;
}


.calculator {
  margin:0 auto;
  width: 300px;
  height: 380px;
  background:white;
}
.calculator-display {
  width: 100%;
  height: 80px;
  font-size:75px;
  text-align:right;
  color:white;
  background: #1C181D;
}

.keypad {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  display:flex;
  flex-wrap:wrap;
}

.function-keys .calculator-key {
  background: #C6C4CC;
}

.calculator-key {
  width: 75px;
  height: 75px;
  background: lavender;
  border: 1px solid black;
  font-size: 27px;
}
.operator-keys {
  margin-top: -75px;
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.digit-keys {
  width: 225px;
  display:flex;
  flex-wrap:wrap-reverse;
}

.key-0 {
  width:150px;
}

.operator-keys .calculator-key {

  background:#FA8D18;
  border: 1px solid black;
}
